*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.app{
    width: 100%;
    display: flex;
    // justify-content: center;
    // align-items: center;
    gap: 2rem;
    font-size: 1rem;
    padding: 1rem;

    button{
       font-size: 2rem;
       padding: 1rem; 
    }
}